--title "SketchUp Ruby API Documentation"
--plugin markdown
--format markdown
--output-dir generated-sketchup-docs-md
--no-api
--no-private
--hide-api Internal
--plugin yard-sketchup
--exclude sketchup-api-stubs/lib/sketchup-api-stubs/stubs/Layout
--exclude sketchup-api-stubs/lib/sketchup-api-stubs/stubs/UI
--asset sketchup-api-stubs/images:images
sketchup-api-stubs/lib/sketchup-api-stubs/stubs/**/*.rb
-
sketchup-api-stubs/pages/*.md
